<button {{action addGenericProperty }}>Add generic property</button>
<button {{action addBooleanProperty }}>Add boolean property</button>
<button {{action addDateProperty }}>Add date property</button>
